<footer class="bg-dark text-white mt-5 p-3">
  <div class="container text-center">
    <p>&copy; 2025 Mi Proyecto Angular. Todos los derechos reservados.</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a class="text-white nav-link" routerLink="/inicio">Inicio</a></li>
      <li class="list-inline-item"><a class="text-white nav-link" routerLink="/acerca">Acerca de</a></li>
      <li class="list-inline-item"><a class="text-white nav-link" routerLink="/contacto">Contacto</a></li>
    </ul>
  </div>
</footer>
