<h1>Sobre mí</h1>
<p>Estoy estudiando en segundo de DAW y gracias a ello se ha creado esta página</p>
{{numero1 / numero2}}
{{obtenerMensaje()}}
<p>Mi contador</p>

<button (click)="incrementar()" class="btn btn-success">Incrementar</button>
<button (click)="decrementar()" class="btn btn-danger">Decrementar</button>
<p>{{contador}}</p>



<input id="Nombre" (input)="actualizartexto($event)">
<p>{{resultado}}</p>


<label for="opciones">Selecciona una opción:</label>
<select id="opciones" (change)="actualizarOpcion($event)">
<option value="Opción 1">Opción 1</option>
<option value="Opción 2">Opción 2</option>
<option value="Opción 3">Opción 3</option>
</select>
<p>Opción seleccionada: {{ opcionSeleccionada }}</p>

<input (focus)="mostrarFoco()" (blur)="quitarFoco()" placeholder="Haz clic aquí">
<p>{{ mensajeFoco }}</p>